.css-13cymwt-control {
    background-color: #2A3038 !important;
    border: 1px solid #2c2e33 !important;
}

.css-1dimb5e-singleValue {
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}