.form-check .form-check-label input[type="checkbox"]+.input-helper:after {
    content: '✔' !important;
    /* color: green; */
}

.apexcharts-legend {
    display: none;
    visibility: hidden;
}

.myChart {
    /* margin-left: 150px; */
}

.chart_donut {
    width: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1444px) {
    .chart_component .stretch-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}