.info-avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    cursor: pointer;
}

.avatar_main {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 5px double #ddd;
    cursor: pointer;
}

@media (max-width:333px) {
    .avatar_main {
        width: 150px;
        height: 150px;
    }
}

.avatar_main img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.info-avatar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.info-avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    color: orange;
    transition: 0.3s ease-in-out;
    background: #fff5;
}

.info-avatar:hover span {
    bottom: -15%;
}

.info-avatar #file-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.modal-body form .form-control {
    color: whitesmoke;
}

.my-modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1050;
    /* display: none; */
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    animation: animated 0.5s ease-in-out;
    transition: 0.5s;
}

@keyframes animated {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear !important;
}

.my-show {
    opacity: 0.5;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
}

.my-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.loadingModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 45%;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}